.layout-container > footer {
    margin: 0;
    /*padding: 0;*/
    padding: 3rem 1rem;
}

.layout-container > footer .region.region-footer {
    margin: 0;
    padding: 3rem 2rem 5rem 2rem;
    background-color: var(--secondary-color);
    border-radius: 1rem 1rem 0 0;
}

