.dialog-off-canvas-main-canvas {
  width: 100%;
}

.region.region-primary-menu {
  border: 1px solid red;
  width: 100%;
}

.region.region-primary-menu nav {
}

.layout-container {
  width: 100%;
  max-width: 1500px;
  padding: 0;
  margin: 0 auto;
  border: 1px solid navy;
}

/* Header */
header .region.region-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border: 1px solid red;
}

.region.region-secondary-menu {
}

/* Main */
/* Zajištění základního rozvržení pro mobilní zobrazení */
main {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; /* Mobilní zobrazení: všechny bloky pod sebou */
  margin: 0 0 1rem 0;
  border: 1px solid red;
}

/* Zajištění výchozího pořadí na mobilních zařízeních */
.layout-content {
  order: 1; /* Zobrazení jako první */
  width: 100%; /* Zabírá celou šířku */
}

.layout-sidebar-first {
  order: 2; /* Zobrazení jako druhý blok */
  width: 100%; /* Zabírá celou šířku */
}

.layout-sidebar-second {
  order: 3; /* Zobrazení jako třetí blok */
  width: 100%; /* Zabírá celou šířku */
}

/* Natavení paddingu pro regiony */
header .region.region-header,
  /*.region.region-primary-menu li a,*/
main .region.region-content,
.region.region-sidebar-first,
.region.region-sidebar-second,
footer .region.region-footer {
  padding: 1rem;
}

@media screen and (min-width: 767px) {
  .region.region-primary-menu li a,
  .region.region-secondary-menu li a {
    /*padding: 1rem 2rem;*/
  }

  header .region.region-header,
  main .region.region-content,
  .region.region-sidebar-first,
  .region.region-sidebar-second,
  footer .region.region-footer {
    padding: 2rem;
  }

}

@media screen and (min-width: 991px) {
  header .region.region-header {
    padding: 1rem 2rem;
  }

  .region.region-primary-menu li a,
  .region.region-secondary-menu li a {
    padding: 1.5rem 3rem;
  }

  main .region.region-content,
  .region.region-sidebar-first,
  .region.region-sidebar-second,
  footer .region.region-footer {
    padding: 5rem 2rem;
  }

  main .region.region-content {
    padding-left: 4rem;
  }
}

/* Pro větší obrazovky: přepnutí na sidebary po stranách */
@media (min-width: 1100px) {
  main {
    flex-direction: row; /* Přepnutí na řádkové zobrazení */
  }

  .layout-sidebar-first {
    order: 1; /* Zobrazení vlevo */
    /*width: 25%; !* Šířka sloupce 25% *!*/
    width: 350px;
    flex-shrink: 0; /* Zamezení automatickému zmenšení */
  }

  .layout-content {
    order: 2; /* Zobrazení uprostřed */
    flex-grow: 1; /* Zabírá zbývající prostor */
    width: 0;
  }

  .layout-sidebar-second {
    order: 3; /* Zobrazení vpravo */
    /* Šířka sloupce 25% */
    /*width: 23%; */
    width: 350px;
    flex-shrink: 0; /* Zamezení automatickému zmenšení */
  }
}

/* Speciální případ: Pokud není sidebar-first ani sidebar-second, obsah zabírá celý prostor */
main:not(:has(.layout-sidebar-first)):not(:has(.layout-sidebar-second)) .layout-content {
  width: 100%;
}



