.region.region-secondary-menu {
  background-color: var(--secondary-color);
  margin: 0 0 1rem 0;
}

.region.region-secondary-menu nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  border: 3px solid green;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: var(--max-width);
}

.region.region-secondary-menu nav ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.region.region-primary-menu nav ul li {
  list-style: none;
}

.region.region-secondary-menu nav ul li a {
  color: black;
  font-weight: bold;
  padding: 1rem 2rem;
}

.region.region-secondary-menu nav ul li a:hover {
  background-color: var(--secondary-color);
  color: white;
}

.region.region-secondary-menu nav ul li a.is-active {
  background-color: var(--info-color);
  color: white;
}

